:root {
    --background-color: #0B3954;
    --grid-borders: #7B506F;
    --mark-color: #0B3954;
    --gameboard-background: #F3C969;
    --supporting-color: #F17300;
}

* {
    box-sizing: border-box;
    font-family: 'RocknRoll One', sans-serif;
}

body {
    background-color: var(--background-color);
    position: relative;
    overflow: hidden;
}

h1 {
    margin-top: 50px;
    color: white;
    font-size: 40px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.start-screen {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(4, 100px);
    justify-content: center;
    z-index: 100;
    color: white;
}

.start-screen h2 {
    margin-top: 15vh;
    margin-bottom: 50px;
    grid-row: 1/2;
}

.gamemode {
    width: 100%;
    margin-bottom: 50px;
    height: 75%;
    text-transform: uppercase;
    font-size: 17px;
    border: 3px solid var(--grid-borders);
    box-shadow: 0 1px 2px var(--grid-borders);
    background-color: #BFD7EA;
}

.gamemode:hover {
    background-color: var(--grid-borders);
    border: 3px solid var(--gameboard-background);
    color: white;
}

.player-names {
    position: absolute;
    display: grid;
    width: 100vw;
    height: 100vw;
    z-index: 99;
    background-color: var(--background-color);
}

.player-names label {
    text-transform: uppercase;
    color: white;
    font-weight: 900;
}

.player-names input {
    margin-top: 20px;
}

.player-one-input {
    margin-top: 20vh;
    margin-bottom: 50px;
}

.submit {
    margin-top: 30px;
}

.another-player {
    grid-row: 2/3;
}

.computer {
    grid-row: 3/4;
}

.unbeatable {
    grid-row: 4/5;
}

.player-scores {
    margin-top: 5vh;
    font-size: 20px;
    color: white;
    font-weight: 700;
    font-size: 26px;
}

.player-scores .container{
    display: grid;
    grid-template-columns: 32% 36% 32%;
    grid-template-rows: 100px 50px;
}

.player-one {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
}

.results {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
}

.player-two {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 100%;
}

.restart {
    grid-row: 2/3;
    grid-column: 1/4;
    width: 15%;
    place-self: center;
    visibility: visible;
    padding: 10px;
    border: 1px solid var(--grid-borders);
    text-transform: uppercase;
    font-size: 20px;
}

.restart:hover {
    background-color: var(--grid-borders);
    border: 1px solid var(--gameboard-background);
    color: white;
}

#p1points, #p2points {
    margin-top: 20px;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    justify-content: center;
    margin-top: 5vh;
    color: var(--mark-color);
    font-family: 'Roboto', sans-serif;
}

.gameboard div {
    font-size: 80px;
    display: grid;
    background-color: var(--gameboard-background);
    align-items: center;
    border: 1px solid var(--grid-borders);
    cursor: pointer;
}

.gameboard div:nth-child(1), .gameboard div:nth-child(4), .gameboard div:nth-child(7) {
    border-left: 4px solid var(--grid-borders);
}

.gameboard div:nth-child(1), .gameboard div:nth-child(2), .gameboard div:nth-child(3) {
    border-top: 4px solid var(--grid-borders);
}

.gameboard div:nth-child(3), .gameboard div:nth-child(6), .gameboard div:nth-child(9) {
    border-right: 4px solid var(--grid-borders);
}

.gameboard div:nth-child(7), .gameboard div:nth-child(8), .gameboard div:nth-child(9) {
    border-bottom: 4px solid var(--grid-borders);
}

.nodisplay {
    display: none;
}